@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;800&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;800&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --azul-color: #75cee1;
  --amarelo-color: #f6c851;
  --body-color: #eceff3;
  --text-color-amarelo: #805e08;
  --text-color-azul: #145665;
  --text-color-second: #0b97b6;
}

header {
  padding: 30px;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}
.container-main {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
  padding-bottom: 1.6rem;
}
.text h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-bottom: 1rem;
  font-size: 54px;
}
.text h2 {
  margin-bottom: 1rem;
  font-size: 24px;
}

.text h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  font-size: 12px;
}

.btns {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn_1 {
  background-color: var(--azul-color);
  color: var(--text-color-azul);
  height: 71px;
  width: 197px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 0.35rem;

  font-size: 18px;
  font-weight: bold;
}
.btn_1:hover {
  background-color: #ccdee2;
  color: #19b5d8;
}

.btn_2 {
  background-color: var(--amarelo-color);
  color: var(--text-color-amarelo);
  height: 71px;
  width: 197px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 0.35rem;
  font-size: 18px;
  font-weight: bold;
}
.btn_2:hover {
  background-color: #f1d692;
  color: #bd9122;
}

.title {
  align-items: center;
  color: var(--text-color-second);
  font-size: 30px;
}

.text {
  align-items: center;
  color: var(--text-color-second);
}
