@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;800&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header{
flex: 1;
align-items: flex-start;
}

header{
  display: grid;
  place-content: flex-start;
}

.container-text{
padding-bottom: 1rem;
gap: 5rem;
}

h1{
  font-size: 34px;
  text-align: center;
  margin: 2rem;
  color: #1c9ab6;
  font-weight: 400;
}

h2{
  text-align: center;

  font-size: 26px;
  color: #145665;
}

img {
  margin: 0 auto;
  padding-top: 1rem;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 95%;
  margin-bottom: 30px;

}

.item {
  padding: 0 10px;

}

.nav__voltar{
  flex: 1;
  flex-direction:row;
  align-content: flex-start;
}
